
.CoinButton[b-lv7naj6szq]{
    opacity: 0%;
    height: 9vh;
    width: 5vw;
    border-radius: 80%;
}

.CoinButton:hover[b-lv7naj6szq]  {
    opacity: 100%;
}

.Coin[b-lv7naj6szq]{
    background-color: black;
    height: 9vh;
    width: 5vw;
    border-radius: 80%;
}